* { outline: none; }
body {
	background-color: #789; margin: 0;
	padding: 0; font: 16px/1.4 Helvetica, Arial, sans-serif;
	font: 16px/1.4 Helvetica, Arial, sans-serif;
}
div.content {
	width: 800px; margin: 2em auto; padding: 20px 50px;
	background-color: #fff; border-radius: 1em;
}
label { display: inline-block; min-width: 7em; }
input { border: 1px solid #ccc; padding: 0.2em; }
a:link, a:visited { color: #69c; text-decoration: none; }
@media (max-width: 700px) {
	body { background-color: #fff; }
	div.content { width: auto; margin: 0 auto; padding: 1em; }
}
.input-changed {
	background: PeachPuff;
}
